hgnc.ftp.complete.set.url=http://ftp.ebi.ac.uk/pub/databases/genenames/hgnc/tsv/hgnc_complete_set.txt
hgnc.local.filename=/tmp/hgnc_complete_set.tsv
data.uniprot.core.tsv=https://rest.uniprot.org/uniprotkb/stream?compressed=true&fields=accession%2Creviewed%2Cid%2Cprotein_name%2Cgene_names%2Clength%2Cgene_synonym%2Corganelle%2Ccc_interaction%2Clit_pubmed_id%2Cxref_hgnc&format=tsv&query=%28%2A%29%20AND%20%28model_organism%3A9606%29%20AND%20%28reviewed%3Atrue%29
data.uniprot.core.filnename=/tmp/uniprot.tsv