ftp.user.email=user@xyz.org
base.data.path=/Volumes/Data04TBBExt
base.subdirectory.name=data
neo4j.db.path=/Volumes/Data04TBBExt/databases/neo4j-db-protein_network
hgnc.ftp.complete.set.url=http://ftp.ebi.ac.uk/pub/databases/genenames/hgnc/tsv/hgnc_complete_set.txt
hgnc.local.filename=/tmp/hgnc_complete_set.tsv
uniprot.core.rest.url=https://rest.uniprot.org/uniprotkb/stream?fields=accession%2Cid%2Cprotein_name%2Cgene_names%2Clength%2Cgene_synonym%2Corganelle%2Ccc_interaction%2Clit_pubmed_id%2Cxref_hgnc&format=tsv&query=%28%2A%29%20AND%20%28model_organism%3A9606%29%20AND%20%28reviewed%3Atrue%29
uniprot.core.filename=/tmp/uniprot.tsv
uniprot.id.local.filename=/tmp/uniprot_id.tsv
uniprot.identifiers.url=https://rest.uniprot.org/uniprotkb/stream?fields=accession%2Creviewed%2Cid%2Corganism_name%2Cxref_geneid%2Cxref_hgnc%2Cgo_id&format=tsv&query=%28reviewed%3Atrue%29+AND+%28model_organism%3A9606%29
geneontology.download.url=http://current.geneontology.org/ontology/go.obo
humanpheno.ontology.download.url=https://raw.githubusercontent.com/obophenotype/human-phenotype-ontology/master/hp.obo