neo4j.log.dir=/tmp/logs/neo4j
neo4j.log.file.prefix=neo4j_cypher
log.cypher.commands=false
neo4j.account=neo4j
neo4j.password=xxxxxxxxx
neo4j.database=test
neo4j.test.database=test
neo4j.uri=neo4j://tosca.local:7687
neo4j.db.path=/Volumes/Data04TBBExt/databases/neo4j-db-protein_network
neo4j.home=/Volumes/SSD870/neo4j-community-4.4.3
